.loginsignup{
    width: 100%;
    height: 120vh;
    background: pink;
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px
}
.loginsignup-container h1{
    margin: 20px 0px;

}
.loginsignup-field{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.loginsignup-field input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid rgb(61, 58, 58);
    outline: none;
    color: #f0efef;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #eb1144;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    
}
.loginsignup-login{
    margin-top: 30px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #eb1144;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-weight: 500;

}