.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #2e2e2e;
    border: 0;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 15px;
    font-weight: 500;


}
.carticon-product-icon{
    height: 62px;

}
.cartitems-remove-icon{

    width: 10px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 70px;
    border: 2px solid #ebebeb;
    height: 30px;
    background: white;
}

 .cartitems-down{
    display: flex;
    margin: 100px 0px;
    
} 

.cartitems-total{
    text-transform: uppercase;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
}
.cartitembtn{
    width: 200px;
    height: 58px;
    margin-top: 150px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}
.cartitems-promocode{
    flex: 1;
    font-size: 15px;
    font-weight: 500;

}
.cartitems-promocode p{
    color: #555;
    text-transform: capitalize;
}
.cartitems-promobox{
    width: 404px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #aeaeae;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 230px;
    height: 50px;

}
.cartitems-promobox button{
    width: 168px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: #fff;
    cursor: pointer;
}